<div class="d-flex justify-content-center m-4">
    <div class="col-8">
        <form [formGroup]="editClientForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="w-100" appearance="fill" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email" [errorStateMatcher]=""
                            placeholder="Ex. pat@example.com">
                        <mat-hint></mat-hint>
                         <mat-error *ngIf="editClientForm.get('email').hasError('email') && !editClientForm.get('email').hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="editClientForm.get('email').hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error> 
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="w-100" appearance="fill" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input type="text" matInput formControlName="name" [errorStateMatcher]=""
                            placeholder="Enter new name">
                        <mat-hint></mat-hint>
                        <mat-error *ngIf="editClientForm.get('name').hasError('required')">
                            Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row justify-content-end p-2">
                    <button mat-raised-button color="primary" class="w-25">Submit</button>
                    <button mat-raised-button type="button"  class="w-25" (click)="onReset()">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>